$deep-grey: #282c34;
$white-text: rgba(255,255,255,.98);

body{
  background-color: $deep-grey;
}
p {
  font-size: 20px;
  color: black;
}

nav ul li {
  display: inline-block;
  font-size: 20px;
  color: $white-text;
}
